name: AI PR Review

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review

jobs:
    inference:
        permissions:
            models: read
        runs-on: ubuntu-latest
        steps:
            - name: Test Local Action
              id: inference
              uses: actions/ai-inference@v1
              with:
                  prompt: "Hello!"

            - name: Print Output
              id: output
              run: echo "${{ steps.inference.outputs.response }}"
